.logo{
    height: 25px;
    width: 25px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.line-vertical{
    padding: 15px 0.5px;
    background-color: grey;
    float: left;
}

.logo-text{
    height: 40px;
    width: 110px;
    float: left;
}

.searchbox{
    display: none;
}

.header__buttons{
    font-size: 14px;
    margin-top: 25px;
    margin-left: 10%;
    float: left;
}

.button{
    border-style: none;
    background-color: #3897f0;
    padding: 5px 10px;
    color: white;
    border-radius: 4px;
}

.button--alt{
    color: #3897f0;
    border-style: none;
    padding: 5px 10px;
    background-color: white;
    border-radius: 4px;
}

.button--alt:focus{
    outline: none;
    background-color: #aee5f9;
    color: #4fd0ff;
}

.button:focus{
    outline: none;
    background-color: #aee5f9;
    color: #d8f4ff;
}

.header__content{
    margin: 0 20px;
    height: 75px;
}

.header__logo__wrapper{
    float: left;
    margin-top: 20px;
    width: 50%;
}

header{
    border-bottom: solid 1px lightgrey;
    background-color: white;
    width: 100%;
}

@media screen and (min-width: 768px){
    .searchbox{
        float: left;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
        border-color: lightgrey;
        padding: 2px 10px 2px 10px;
        width: 215px;
        background-color: #f9f9f9;
        margin-top: 25px;
        margin-left: 5%;
        
    }

    .searchbox__magnifier{
        filter: invert(50%);
        margin-right: 10px;
    }

    .searchbox__input{
        text-align: left;
        border-style: none;
        max-width: 125px;
        font-size: 16px;
        background-color: inherit;
    }

    .searchbox__input:focus{
        outline: none;
    }

    .searchbox:focus-within{
        background-color: white;
        justify-content: flex-start;
    }

    .searchbox:focus-within .searchbox__input{
        max-width: 100%;
    }

    .header__logo__wrapper{
        justify-content: space-around;
        width: 25%;
    }

    .header__buttons{
        margin-left: 15%;
    }
}

@media screen and (min-width: 1024px){
    .header__logo__wrapper {
        width: 17.5%;
        margin-left: 30px;
    }
    .searchbox{
        margin-left: 15%;
    }

    .header__buttons {
        margin-left: 20%;
    }    
}

@media screen and (min-width: 1440px){
    .header__content{
        height: 100px;
    }

    .header__content{
        width: 70%;
        margin: auto;
    }
    .header__buttons {
        margin-left: 25%;
    }    
}